body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.adress-something {
  font-style: normal;
}

.address-inf a {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  background-color: #ffffff;
}
.address-inf a:focus {
  color: #404bbf;
}
.address-inf a:hover {
  color: #404bbf;
}

.address-inf .under-line:hover {
  text-decoration: underline;
}

.special-studio {
  text-decoration: none;
  color: #2e2f42;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  background-color: #ffffff;
}

.special-studio:hover,
.special-studio:focus {
  color: #404bbf;
}

.site-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo-lupa {
  color: #2e2f42;
}

.sect-one {
  background-color: #2e2f42;
  padding: 188px 0;
}

.sect-one .main-header {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.main-header {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.ord-but {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.ord-but:focus {
  background-color: #404bbf;
}

.ord-but:hover {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sect-two {
  padding: 120px 0;
}

.sect-two-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.list-class {
  width: calc((100% - 72px) / 4);
}

.threetop-head {
  margin-bottom: 8px;
}

.sect-two .htwomain-head {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.portfolio {
  background-color: #ffffff;
}

.sect-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.sect-three-list {
  display: flex;
  gap: 24px;
}

.hthreetop-head {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.sect-three .htwomain-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.photo-emp {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.emp-role {
  padding: 32px 0;
}

.sect-four .htwomain-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.sect-four {
  padding: 120px 0;
}

.sect-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.last-list {
  width: calc((100% - 48px) / 3);
}

.sect-four .htwomain-head {
  margin-bottom: 8px;
}

.app-cate {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.paragraph {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
  text-align: center;
}
.phooter-class {
  background-color: #2e2f42;
  padding: 100px 0;
}
.phooter-class .phooter-paragraph {
  color: #f4f4fd;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.phooter-class .logo-lupa {
  color: #f4f4fd;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  display: block;
}

.cont-header {
  border-bottom: 1px solid #e7e9fc;
}

.cont-nav-adress {
  display: flex;
  justify-content: space-around;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.cont-navi {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.logogo {
  margin-right: 76px;
}
.special-studio {
  padding: 24px 0;
}
.address-inf {
  display: flex;
  gap: 40px;
}

.link-phooter {
  display: inline-block;
  margin-bottom: 16px;
}

.phooter-paragraph {
  min-width: 264px;
}

.htwomain-head {
  margin-bottom: 72px;
}